.link{
    color: black;
    text-decoration:none; 
    display: block; 
    width:100%;
}

.link:hover{
    background-color: #F6F6F6;
}

.limit-width{
    max-width: 800px;
}

body{
    padding-bottom: 60px;
}

.fs-7 {
    font-size: 0.8em;
}

pre { 
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */ 
    white-space: -pre-wrap; /* Opera */ 
    white-space: -o-pre-wrap; /* Opera */ 
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */ 
    word-wrap: break-word; /* IE 5.5+ */ 
    
    /* some extra styles*/
    text-align:justify;
    font-family:calibri,arial,sans-serif;
}
